@layer reset, base, components;

@import url('normalize.css') layer(reset);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@layer reset {
    :root {
        --primary: #07755D;
        --secondary: #59bc1c;
        --denied: #ff8686;
        --text: #515959;
        --border: #e4e4e4;
    }
    .main {
        display: flow-root;
    }
}

@layer base {
    html {
        font-family: 'Inter', sans-serif;
        color: var(--text);
    }
    .card {
        max-width: 21em;
        margin: 1rem; /* without scaling */
        padding: 1em;
    }
    p {
        margin: 0;
    }
    .card__header {
        margin-bottom: 2em;
    }
    .card__body {
        margin-bottom: 2em;
    }
    ul {
        padding-left: 1.5rem;
        margin-top: 2.5em;
    }
    li {
        margin-bottom: 1em;
    }
    .goodboy {
        list-style-image: url(../images/check.svg);
    }
    .badboy {
        list-style-image: url(../images/cross.svg);
    }
    .card__big {
        font-size: xx-large;
        margin-bottom: 0.5em;
    }
    .card__kindaBig {
        font-size: x-large;
        margin-bottom: 0.5em;
    }
    .button {
        display: block;
        padding: 1em;
        background-color: var(--primary);
        border-radius: 6px;
        text-align: center;
    }
    .card__button {
        text-decoration: none;
        color: white;
    }
}

@layer components {
    .card--marketer {
        border: var(--border) solid 1px;
        border-radius: 12px;
    }
    .card--marketer .card__primary {
        color: var(--primary);
    }
    .card--marketer .card__big {
        color: var(--secondary);
    }
    .card--marketer .card__padding {
        padding: 1em;
    }
    .card--marketer .card__margin {
        margin-bottom: 0.5em;
    }
    .card--marketer .card__margin--2 {
        margin-bottom: 2em;
    }
}